<!DOCTYPE html>
<html>
    
<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <%-body%>
            </div>
        </div>
    </div>
</body>

</html>